# Server Configuration
PORT=5000

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/Media_Format

# Optional: Path to custom FFmpeg binary (Leave empty if ffmpeg is in your system PATH)
# FFMPEG_PATH=C:/ffmpeg/bin/ffmpeg.exe
